<% include partials/header %>

<section>
  <h1>Your Games Are Listed Below</h1>
</section>
<section>
  <a href="/newgame" id="newGames">Enter New Games</a>
</section>
<section>
  <table id="viewGames">
    <tr>
      <td>Game 1</td>
      <td>Game 2</td>
      <td>Game 3</td>
      <td>Series Total</td>
      <td>Series Average</td>
    </tr>
    <tr>
      <td><%= data[data.length - 1].game1 %></td>
      <td><%= data[data.length - 1].game2 %></td>
      <td><%= data[data.length - 1].game3 %></td>
      <td><%= data[data.length - 1].game1 + data[data.length - 1].game2 + data[data.length - 1].game3 %></td>
      <td><%= (data[data.length - 1].game1 + data[data.length - 1].game2 + data[data.length - 1].game3)/3 %></td>
    </tr>
  </table>
</section>

<% include partials/footer %>
