<% include partials/header %>

<section>
  <h1>Your Games Are Listed Below</h1>
</section>
<section>
  <a href="/league" id="newGames">Return To Leagues</a>
  <a href="/newgame" id="newGames">Enter New Games</a>
  <a href="/logout" id="logout">Log Out</a>
</section>
<section>
  <table id="viewGames">
    <tr>
      <td>Week #</td>
      <td>Game 1</td>
      <td>Game 2</td>
      <td>Game 3</td>
      <td>Series Total</td>
      <td>Series Average</td>
    </tr>
    <tr>
    <% data.forEach(function(data){ %>
      <td><%= data.weekNumber %></td>
      <td><%= data.game1 %></td>
      <td><%= data.game2 %></td>
      <td><%= data.game3 %></td>
      <td><%= data.game1 + data.game2 + data.game3 %></td>
      <td><%= (data.game1 + data.game2 + data.game3)/3 %></td>
    </tr>
      <% }); %>
  </table>
</section>

<% include partials/footer %>
